@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Archivo", sans-serif;
    color: #121214;
    font-size: 24px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
    
}
#elementoPai {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-areas: 
        "cabecario"
        "principal";
   
}
header {grid-area: cabecario;}
main {grid-area: principal;}

header {
    
    position: relative;
    overflow: hidden;
    height: 400px;
   
}

#frete {
    padding: 10px;
    text-align: center;
}
#fotoMaiorJordan {
    width: 100%;
   
    position: relative;
    
}
#mensagemFoto {
    position: relative;
    bottom: 220px;
    left: 250px;
    display: flex;
    flex-flow: column wrap;
    gap: 40px;
    color: #FFFFFF;
}
#marca {
    
    display: flex;
    gap: 8px;
    
}
#fraseMelhor {
    font-size: 32px;
}
#fraseAnuncio {
    
    width: 557px;
    height: 68px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0;
}
        /*Main*/

#conteudo {
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 72px;
    
}

#fraseLoja {
   
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 24px;    
    width: 100%;
    
}

#MelhoresLugar {
    font-weight: 600;
    font-style: bold;
    font-size: 32px;
    
}

#fraseMarcaJordan {
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0;
    width: 593px;
    height: 68px;
}

#grid  {
    display: grid;
    grid-template-columns: 384px 384px 384px;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "primeiro segundo terceiro"
    "quarto quinto sexto";
    column-gap: 32px;
    row-gap: 32px;
    

}


    
#tenis1 {grid-area: primeiro;}
#tenis2 {grid-area: segundo;}
#tenis3 {grid-area: terceiro;}
#tenis4 {grid-area: quarto;}
#tenis5 {grid-area: quinto;}
#tenis6 {grid-area: sexto;}

.tenis {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    gap: 24px;
    
}

.imagemCatalago {
    background-color: #F3F7FF;
    display: flex;
    justify-content: center;
    padding: 15px;
}
.imagem-tenis {
    width: 225px;
    height: 135px;
}
.subTituloTenis {
    width: 384px;
    height: 23px;
    font-style: normal;
    font-size: 18px;
    line-height: 130%;
}
.tituloTenis {
    width: 117px;
    height: 17px;
    color: #7CA2F4;
    font-style: normal;
    font-size: 16px;

}
.preco {
    font-family: "Space Grotesk", sans-serif;
    font-style: normal;
    font-size: 20px;

}